<ul class="list-group list-group-flush">
    {% for ingredient in ingredients %}
        <li class="list-group-item">
            {% if 'mine' in request.path %}
                <a class="gray-color" href="{% url 'ingredient-edit' ingredient.id %}"><i class="far fa-edit"></i></a>
            {% endif %}
            <span>#{{ ingredient.article_number }}: </span>
            <span>{{ ingredient.name }} - </span>
            <span>{{ ingredient.get_cost }}</span>
        </li>
    {% endfor %}
    <hr>
</ul>
{% if not ingredients %}
    <div class="d-flex w-100 justify-content-center">
        <p class="text-center gray-color">No Ingredients Found.</p>
    </div>
{% endif %}
