{% extends 'base.html' %}
{% load static %}
{% block title %} Recp - Recipe {% endblock %}
{% block content %}
    <div class="card w-100">
        <div class="card-body">
            <h5 class="orange_color text-center">Create a Recipe</h5>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label class="d-block text-center font-weight-bold text-black-50"
                           for="{{ form.name.id_for_label }}">Tell us
                        your recipe
                        name:</label>
                    {{ form.name }}
                </div>
                {{ formset.management_form }}
                <legend class=" font-weight-bold text-black-50">Ingredients</legend>
                <hr>
                <div class="row">
                    <label class="col-md-5 ">Ingredient:</label>
                    <label class="col-md-5 ">Amount:</label>
                    <label class="col-md-2 ">Unit:</label>
                </div>
                <div id="ingredients_formset">
                    {% for form in formset %}
                        <div class="form-row">
                            {{ form.id }}
                            <div class="form-group col-md-5">
                                {{ form.ingredient }}
                            </div>
                            <div class="form-group col-md-5">
                                {{ form.amount }}
                                {{ form.amount.errors }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form.unit }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="bar_add" class="bar_add d-flex justify-content-center mb-2"><i
                        class="fas fa-plus py-2 text-black-50"></i></div>
                <button type="submit" class="btn orange_button">Submit</button>
                <a href="{% url 'recipe-show-all' %}" class="btn orange_button">Cancel</a>
            </form>
        </div>
    </div>
    <script src="{% static 'js/add_ingredient_inputs.js' %}"></script>
{% endblock %}


