{% extends 'base.html' %}
{% load static %}
{% block title %} Recp - Recipe {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card w-100">
        <div class="card-body">
            {% if 'add' in request.path %}
                <h4 class="gray-color text-center">Create a Recipe</h4>
            {% else %}
                <h4 class="gray-color text-center">Edit a Recipe</h4>
            {% endif %}
            {% crispy form %}

        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/add_ingredient_inputs.js' %}"></script>
{% endblock %}