{% extends 'base.html' %}
{% load static %}
{% block title %} Recp - recipes {% endblock %}
{% block content %}
    <div class="d-flex flex-row flex-wrap justify-content-center py-3 px-5">
        {% for recipe in recipes %}
            <div>
                <div class="card mx-2 my-2" style="width: 18rem;">
                    <p class="text-center py-2 card-gray text-white text-uppercase d-flex m-0 justify-content-center">
                        {% if 'mine' in request.path %}
                            <a class="absolute-left gray-color" href="{% url 'recipe-edit' recipe.id %}"><i
                                    class="far fa-edit"></i></a>
                        {% else %}
                            {% if recipe in request.user.recipe_favorited.all %}
                                <a href="{% url 'dislike-recipe' recipe.id %}" class="absolute-right gray-color"><i
                                        class="fas fa-heart"></i></a>
                            {% else %}
                                <a href="{% url 'like-recipe' recipe.id %}" class="absolute-right gray-color"><i
                                        class="far fa-heart"></i></a>
                            {% endif %}
                        {% endif %}
                        <span>{{ recipe.name }}</span>
                    </p>
                    <div class="text-center">
                        {% if recipe.image %}
                            <img class="card-img-top" src="{{ recipe.image.url }}" alt="image recipe">
                        {% else %}
                            <img class="card-img-top" src="{% static 'images/not_found_recipe.jpg' %}"
                                 alt="image recipe">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <a href="{% url 'recipe-show' recipe.id %}" class="w-100 green-color">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if not recipes %}
            <div class="d-flex w-100 justify-content-center">
                <p class="text-center gray-color">No Recipes Found.</p>
            </div>
        {% endif %}
    </div>
    {% if is_paginated %}
        <nav aria-label="page navigation" class="justify-content-center d-flex">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">previous</a>
                    </li>
                {% endif %}

                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}