{% extends 'base.html' %}
{% load static %}
{% block title %} Recp - Recipe {% endblock %}
{% block content %}
    <div class="card w-100">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                {% if recipe.image %}
                    <img class="img-fluid rounded cover-recipe " src="{{ recipe.image.url }}"
                         alt="recipe-cover">
                {% else %}
                    <img class="img-fluid rounded cover-recipe float-left"
                         src="{% static 'images/not_found_recipe.jpg' %}" alt="recipe-cover">
                {% endif %}
                <div class="w-100">
                    <legend class="gray-color text-center">{{ recipe.name }}</legend>
                </div>
            </div>
            <hr>
            <legend class="gray-color">Instructions</legend>

            {% if recipe.instructions %}
                {{ recipe.instructions }}
            {% else %}
                <p class="text-center">No instructions</p>
            {% endif %}
            <hr>


            <legend class="gray-color">Ingredients</legend>
            <table class="table">
                <thead class="">
                <tr>
                    <th class="w-25">Name</th>
                    <th class="w-25">Amount</th>
                    <th class="w-25">Price</th>
                    <th class="w-25">Total Cost</th>
                </tr>
                </thead>
                <tbody>
                {% for ingredient in ingredients %}
                    <tr>
                        <td class="w-25">{{ ingredient.ingredient.name }}</td>
                        <td class="w-25">{{ ingredient.get_formated_amount }}</td>
                        <td class="w-25">{{ ingredient.ingredient.get_cost }}</td>
                        <td class="w-25">{{ ingredient.total }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="3" class="w-25 text-right justify-content-end">Total: {{ ingredient.name }}</th>
                    <td class="w-25"> {{ total }} €</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


