{% extends 'base.html' %}
{% load static %}
{% block title %} Recp - recipes {% endblock %}
{% block content %}
    <div class="d-flex flex-row flex-wrap justify-content-start py-3 px-5">
        {% for recipe in recipes %}
            <div class="card mx-2 my-2" style="width: 18rem;">
                <p class="text-center py-2 card-gray text-white text-uppercase m-0"> {{ recipe.name }} </p>
                <div class="text-center">
                    <img class="card-img-top" src="{% static 'images/cardapioicone.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="text-center">
                        <a href="#" class="w-100 btn btn-info te">See more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not recipes %}
            <div class="d-flex w-100 justify-content-center">
                <p class="text-center gray-color">No Recipes Found.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}