{% load static %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'bootstrap/js/button.js' %}"></script>
<script src="{% static 'bootstrap/js/dropdown.js' %}"></script>
<script src="{% static 'bootstrap/js/modal.js' %}"></script>
<script src="{% static 'bootstrap/js/collapse.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="https://kit.fontawesome.com/bc9a96a448.js"></script>


