<div class="form-row">
    <input type="hidden" name="ingredientamount_set-0-id" id="id_ingredientamount_set-0-id">
    <div class="form-group col-md-5" data-select2-id="4">
        <select name="ingredientamount_set-0-ingredient" class="form-control ingredient_input select2-hidden-accessible"
                required="" id="id_ingredientamount_set-0-ingredient" data-autocomplete-light-language="en"
                data-autocomplete-light-url="/manager/ingredient/autocomplete/"
                data-autocomplete-light-function="select2" data-select2-id="id_ingredientamount_set-0-ingredient"
                tabindex="-1" aria-hidden="true">
            <option value="" selected="" data-select2-id="1">---------</option>

        </select><span
            class="select2 select2-container select2-container--default select2-container--below select2-container--focus"
            dir="ltr" data-select2-id="2"><span class="selection"><span
            class="select2-selection select2-selection--single form-control ingredient_input" role="combobox"
            aria-haspopup="true" aria-expanded="false" tabindex="0"
            aria-labelledby="select2-id_ingredientamount_set-0-ingredient-container"><span
            class="select2-selection__rendered" id="select2-id_ingredientamount_set-0-ingredient-container"
            role="textbox" aria-readonly="true"><span class="select2-selection__placeholder"></span></span><span
            class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span
            class="dropdown-wrapper" aria-hidden="true"></span></span>
    </div>
    <div class="form-group col-md-5">
        <input type="number" name="ingredientamount_set-0-amount" class="form-control" required
               id="id_ingredientamount_set-0-amount">

    </div>
    <div class="form-group col-md-2">
        <select name="ingredientamount_set-0-unit" class="form-control" required id="id_ingredientamount_set-0-unit">
            <option value="" selected>-------</option>

            <option value="1">kg</option>

            <option value="2">g</option>

            <option value="3">l</option>

            <option value="4">cl</option>

        </select>
    </div>
</div>

